<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubber.at.tennis.atp.dao.mapper.PlayerInfoMapper">

    <resultMap id="baseMap" type="com.rubber.at.tennis.atp.dao.entity.PlayerInfoEntity">
        <result column="Fid" property="id" jdbcType="INTEGER"/>
        <result column="Fplayer_id" property="playerId" jdbcType="VARCHAR"/>
        <result column="Fthird_id" property="thirdId" jdbcType="VARCHAR"/>
        <result column="Fplayer_type" property="playerType" jdbcType="VARCHAR"/>
        <result column="Fchina_name" property="chinaName" jdbcType="VARCHAR"/>
        <result column="Fchina_full_name" property="chinaFullName" jdbcType="VARCHAR"/>
        <result column="Ffirst_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="Flast_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="Fplayer_avatar" property="playerAvatar" jdbcType="VARCHAR"/>
        <result column="Fnation_chinese_name" property="nationChineseName" jdbcType="VARCHAR"/>
        <result column="Fnation_english_name" property="nationEnglishName" jdbcType="VARCHAR"/>
        <result column="Fnation_img" property="nationImg" jdbcType="VARCHAR"/>
        <result column="Fbirthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="Fbirth_place" property="birthPlace" jdbcType="VARCHAR"/>
        <result column="Fresidence" property="residence" jdbcType="VARCHAR"/>
        <result column="Fheight" property="height" jdbcType="VARCHAR"/>
        <result column="Fweight" property="weight" jdbcType="VARCHAR"/>
        <result column="FproYear" property="proYear" jdbcType="VARCHAR"/>
        <result column="Fall_bonus" property="allBonus" jdbcType="VARCHAR"/>
        <result column="Fwebsite" property="website" jdbcType="VARCHAR"/>
        <result column="Fsingles_rank_height" property="singlesRankHeight" jdbcType="INTEGER"/>
        <result column="Fsingles_champion_num" property="singlesChampionNum" jdbcType="INTEGER"/>
        <result column="Fdouble_rank_height" property="doubleRankHeight" jdbcType="INTEGER"/>
        <result column="Fdouble_champion_num" property="doubleChampionNum" jdbcType="INTEGER"/>
        <result column="Fremark" property="remark" jdbcType="VARCHAR"/>
        <result column="Fversion" property="version" jdbcType="INTEGER"/>
        <result column="Fstatus" property="status" jdbcType="INTEGER"/>
        <result column="Fcreate_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="Fupdate_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="Fseq_weight" property="seqWeight" jdbcType="INTEGER"/>
        <result column="Ftags" property="tags" jdbcType="VARCHAR"/>
    </resultMap>



    <select id="queryFollowPlayer" resultMap="baseMap">
		select  b.*
        from t_user_follow_player as a
        left join t_player_info as b on (a.Fplayer_id = b.Fplayer_id)
        where  a.Fstatus = 1 and a.Fuid = #{condition.uid}
        <if test="condition.searchValue != null">
           and  ( b.Fchina_name like concat('%',#{condition.searchValue},'%') or
            b.Fnation_chinese_name like concat('%',#{condition.searchValue},'%') )
        </if>
        order by a.Fupdate_time desc
    </select>

</mapper>
